

body {
  margin: 0px;
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

p, h1 {
  color: chartreuse;
}

a {
  color: chartreuse;
}

.live-caption {
  font-size: 12px;
  margin: 0px
}

.heading {
  display: flex;
  align-items: center;
}

.bat-gif {
  position: absolute;
  top: 0;
  right: 0;
  padding:1em
}

.spin-skull {
  width: 3em;
  height: 3em;
}

.bottom-labels {
  position: absolute;
  bottom: 0;
  left: 0;
  padding:1em;
  display:flex;
  flex-direction: column;
}

.made-by {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8px;
  margin-right:0.5em;
}

.info {
  position: absolute;
  top: 30em;
  left  :0em;
  display: flex;
  flex-direction: column;
  padding:1em;
}

.radio-punk {
  position: relative;
  bottom: 1em;
  left:50em
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items:center;
}
